@import "./mixins.scss";

* {
	@include user-select(none);
	border: none;
	box-sizing: border-box;
	color: #00aaff;
	cursor: default;
	font-family: "RethinkSans Regular", sans-serif;
	font-size: 1.3rem;
	margin: 0;
	outline: none;
	padding: 0;
}
